<!DOCTYPE html>
<html>

<head>
    <title>
        长春高新
    </title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">

            <%- include('sidebar.ejs') %>
            </nav>


        <!-- Page Content  -->

        <!--term explanation-->
        <div id='profitDescription' class="moving-div">profit = revenue - Expense</div>

        <div id="content">
            <!-- Tab links -->
            <div class="tab">
                <a href="/"><button class="tablinks" >返回主页</button></a>
                <button class="tablinks" onclick="openCity(event, 'basicInfo')">公司信息</button>
                <button class="tablinks" onclick="openCity(event, 'charts')" id="defaultOpen">公司图表</button>
                <button class="tablinks" onclick="openCity(event, 'managements')">公司管理</button>
                <button class="tablinks" onclick="openCity(event, 'stockNews')">股票新闻</button>
                <button class="tablinks" onclick="openCity(event, 'links')">公司链接</button>
            </div>

            <!-- Tab content -->
            <div id="basicInfo" class="tabcontent">
                <h3>长春高新简介</h3>
                <p>1993年6月，长春高新技术产业（集团）股份有限公司由长春高新技术产业发展总公司独家发起设立，总股本13750万股。
                    1996年12月18日，公司股票在深圳证券交易所挂牌上市，是东北地区最早的一批上市公司之一。
                    上市20余年来，长春高新从公司成立之初的以高新区基础设施建设为主成功转型，成为一家专注于医药科技创新领域，实施产业投资的企业集团。公司始终秉承“创新、专注、包容、共享、发展”的企业文化，践行为客户创造价值、为员工创造机会、为股东创造效益、为社会承担责任的核心价值观，明确以生物制药为主、房地产为辅的产业定位，形成了基因工程药、生物疫苗、现代中药三大产业发展平台，实现了金赛药业、百克生物、华康药业、高新地产“四驾马车”鼎力发展格局，开创了共享发展、合作共赢的良好局面。
                    公司经营业绩持续增长，2017、2018年在全国医药工业百强排名分别为73、56名。
                    </p>
                    <h5>打造医药产业为主、房地产业为辅的产业格局
                    </h5>
                    <p>长春高新作为国内基因工程生物制药具有一定影响力的企业，在产品研发、生产保障、营销管理等核心问题上孜孜以求，不断挖掘并提升企业价值和内涵。
                        经过多年的蓄势和积淀，目前公司在生物制药、新产品研发、特色地产、产业投资等方面愈发完善，核心竞争力不断强化。坚持投资控股、战略管控管理模式，贯彻医药产业为主、房地产业为辅的产业战略，在追求整体协同和收益最大化的同时鼓励企业个性化发展。
                        医药产品覆盖了创新基因工程制药、生物疫苗、现代中药等多个医药细分领域，塑造了良好的品牌形象并逐步赢得市场认可。医药产业布局方面，坚持以市场为导向，一方面在现有产品工艺设施的基础上，利用自身的技术和研发优势，产品创新能力不断加强；另一方面通过创新项目的成功孵化和产业化培育，打造并形成目前在国内基因工程制药、生物疫苗、现代中药领域具有一定的技术优势和市场优势的产品结构。
                        </p>
            </div>

            <div id="charts" class="tabcontent">
                <nav id="navbar">
                    <ul>
                        <li><a class="nav-link" href="#profit">净利润</a></li>
                        <li><a class="nav-link" href="#revenue">营收</a></li>
                        <li><a class="nav-link" href="#profitWithoutEx">净利润 vs. 扣非净利润</a></li>
                        <li><a class="nav-link" href="#gross">营收 vs. 毛利 vs. 营业利润</a></li>
                        <li><a class="nav-link" href="#operating_expense">营业费用分解</a></li>
                        <li><a class="nav-link" href="#FCF">自由现金流</a></li>
                        <li><a class="nav-link" href="#cash_flow">现金流分解</a></li>
                        <li><a class="nav-link" href="#balance_detailed">资产负债表分解</a></li>

                    </ul>
                </nav>
                <div>                        
                    <div class="explanation" id='profitHover'><u><a href="">净利润如何计算？</a></u></div>
                    <canvas id="profit" width="800" height="700"></canvas>
                </div>
                <div>
                    <canvas id="revenue" width="800" height="700"></canvas>
                </div>
                <div><canvas id="profitWithoutEx" width="800" height="700"></canvas></div>
                <div><canvas id="gross" width="800" height="700"></canvas></div>
                <div><canvas id="operating_expense" width="800" height="700"></canvas></div>
                <div><canvas id="FCF" width="800" height="700"></canvas></div>
                <div><canvas id="cash_flow" width="800" height="700"></canvas></div>
                <div><canvas id="balance_detailed" width="800" height="700"></canvas></div>



            </div>

            <div id="managements" class="tabcontent">
                <h3>这是长春高新 </h3>
            </div>

            <div id="stockNews" class="tabcontent">
                <h3>买到就是赚到别买了吧</h3>
            </div>

            <div id="links" class="tabcontent">
                <h3><u><a href='http://ccht.jl.cn'>长春高新</a></u></h3>
            </div>
        </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script> <!--import chart.js-->
    <script src="/js/alasql.min.js"></script>       <!--import alasql.js-->
	<script src="/js/xlsx.core.min.js"></script>    <!--import xlsx.core.js-->	
    <script src="/js/popper.js"></script>            <!--import popper.js-->
    <script src="/js/jquery.min.js"></script>       <!--import jQuery-->
    <script src="/js/bootstrap.min.js"></script>     <!--import bootstrap.js-->
    <script src="/js/changchun.js"></script>           <!--import maotai.js-->
    <script src="/js/yyz.js"></script>           <!--import maotai.js-->


</body>



</html>