<!DOCTYPE html>
<html>

<head>
    <title>简·财经 | 联系我们</title>

	<meta name="description" content="简财经，简单易读的A股财报 - 免费 & 交互式 & 可视化的财报工具">
	<meta name="keywords" content="A股,财报,交互式,可视化,免费,交互式财报,可视化财报,财报工具">
	<meta name="author" content="oqh,yyz,wyf,wgj">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">

				<%- include('sidebar.ejs') %>
				</nav>

        
<!-- Page Content  -->    
    <div id="content" class="p-4 p-md-5 pt-5">
        <h4>联系方式:</h4>
        <h4>有任何意见都可以给我们发邮件:</h4>
        <p>niubigupiao@gmail.com</p>
        <h4>再不行还有一个好地儿可以去</h4>
        <p>小红书你有么？ 关注一下啊 账号名 BBBStock网 （暂时名）</p>
    </div>
<!-- Page Content  -->    

    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>
