<!DOCTYPE html>
<html>

<head>

    <title>
        联系我们
    </title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">

				<%- include('sidebar.ejs') %>
				</nav>

        
<!-- Page Content  -->    
    <div id="content" class="p-4 p-md-5 pt-5">
        <h2>联系不到</h2>
        <h2>想联系还有一招儿</h2>
        <p>发邮件给我们啊！主页有个邮箱看见没？回去看看牛逼股票网首页吧！</p>
        <h2>再不行还有一个好地儿可以去</h2>
        <p>小红书你有么？ 关注一下啊 账号名 BBBStock网 （暂时名）</p>
    </div>
<!-- Page Content  -->    

    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>
