<!doctype html>
<html lang="en">
  <head>
  	<title>牛逼股票网</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">

  </head>

  <body>
	<!-- 
		<div id='moving-div-1' class="moving-div">BOE Technology Group Co., Ltd., or Jingdongfang, is a Chinese electronic components producer founded in April 1993. Its core businesses are interface devices, smart IoT systems and smart medicine and engineering integration. BOE is one of the world's largest manufacturers of LCD, OLEDs and flexible displays.</div>
		<div id='moving-div-2' class="moving-div">隆基股份最近跌的裤衩子都没了</div>
		<div id='moving-div-3' class="moving-div">比亚迪真牛逼</div>
		<div id='moving-div-4' class="moving-div">贵州茅台最近暴跌</div>
	-->

	<div class="wrapper d-flex align-items-stretch">
		<nav id="sidebar">
			<%- include('sidebar.ejs') %>
    	</nav>

        <!-- Page Content  -->
		<div id="content" class="p-4 p-md-5 pt-5">
			<div id='intro-message'>
				欢迎使用本网站，本网站还处在初期建设中，如有缺陷，敬请包涵和谅解。 如对网站有任何建议，请通过邮箱联系我们：<a href = "mailto: yanyizhen1996@gmail.com">yanyizhen1996@gmail.com</a>
			</div>
			<div id='table-of-content'>
				<table>
					<tr>
						<th id='tb-col-1' ><div class="responsive">现有财报数据公司 （持续更新中）</div></th>
						<th class="responsive">最近更新日期</th>
					</tr>
					<tr>
						<td>
							<a href="jdf">京东方</a>
							<span>  (股市代码: 000725.SZ)</span>
						</td>
						<td id='tb-date'>04/18/2021</td>
					</tr>
					<tr>
						<td>
							<a href="longi">隆基股份</a>
							<span>  (股市代码: 000725.SZ)</span>
						</td>
						<td id='tb-date'>04/18/2021</td>
					</tr>
					<tr>
						<td>
							<a href="byd">比亚迪</a>
							<span>  (股市代码: 000725.SZ)</span>
						</td>
						<td id='tb-date'>04/18/2021</td>
					</tr>
					<tr>
						<td>
							<a href="maotai">贵州茅台</a>
							<span>  (股市代码: 000725.SZ)</span>
						</td>
						<td id='tb-date'>04/18/2021</td>
					</tr>
					<tr>
						<td>
							<a href="yonghui">永辉超市</a>
							<span>  (股市代码: 000725.SZ)</span>
						</td>
						<td id='tb-date'>04/18/2021</td>
					</tr>
					<tr>
						<td>
							<a href="pingan">中国平安</a>
							<span>  (股市代码: 000725.SZ)</span>
						</td>
						<td id='tb-date'>04/18/2021</td>
						
					</tr>
					<tr>
						<td>
							<a href="nanfang">南方航空</a>
							<span>  (股市代码: 000725.SZ)</span>
						</td>
						<td id='tb-date'>04/18/2021</td>
					</tr>

					<tr>
						<td>
							<a href="yiwei">亿纬锂能</a>
							<span>  (股市代码: 000725.SZ)</span>
						</td>
						<td id='tb-date'>04/18/2021</td>
					</tr>
				</table>
			</div>

			<br><br>
			<div>
				<form name='post-email' method="POST" action="/post-email" class="colorlib-subscribe-form" data-netlify="true">
				<h5>没有找到想看的公司？请留下您的邮箱和感兴趣的公司，更新之后我们会通知您</h5>
					<div class="form-group">
						<label for="exampleInputEmail1">邮箱地址</label>
						<div class="icon"><span class="icon-paper-plane"></span></div>
						<input type="email" class="form-control focusedInput thin-border" name="email" id="email" placeholder="请留下您的邮箱" required aria-describedby="emailHelp">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">感兴趣的公司名称</label>
						<div class="icon"><span class="icon-paper-plane"></span></div>
						<input type="text" class="form-control focusedInput thin-border" name="company" id="company" placeholder="请留下您想看的公司" required>
					</div>
					<div class="form-group d-flex">
					
						<input type="submit" value="Submit">
					</div>
				</form>
			</div>


		</div>

	</div>

	<script src="../js/alasql.min.js"></script>
	<script src="../js/xlsx.core.min.js"></script>	
	<script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/yyz.js"></script>

  </body>

</html>