<!DOCTYPE html>
<html>

<head>

    <title>简·财经 | 股市知识百科</title>
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAACgYBAAgA/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARARARARARABEBEBEBEBEAEQEQEQEQEQARARARARARABEBEBEBEBEAAAEQEQEQEQIAARARARARACAAABEBEBEAAgIAEQEQEQAAICAAARARAAAAAgABEBEAAAAAIAAAEQAAAAACAgARAAAAAAAiAAAAAAAAAiIAAAAAAAAAAAAACSSQAAkkkAAJJJAACSSQAAkkkAAPJJAABySQAAvkkAANZJAADryQAA/ckAAP75AAD/WQAA/58AAP8fAAD//wAA" rel="icon" type="image/x-icon" />

    <meta name="description" content="股市知识百科，简财经，简洁易懂的A股财报图表，免费 & 交互式 & 可视化的财经报表">
	<meta name="keywords" content="A股,财报,交互式,可视化,免费,交互式财报,可视化财报">
	<meta name="author" content="oqh,yyz,wyf,wgj">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
		<nav id="sidebar">

            <%- include('sidebar.ejs') %>
            </nav>

        
<!-- Page Content  -->    
    <div id="content" class="p-4 p-md-5 pt-5">
        <nav id="navbar2">
            <header>股市知识百科 | 目录</header>
            <ul>
              <li><a class="nav-link" href="#yingye">营业收入</a></li>
              <li>
                <a class="nav-link" href="#shouyi">收益</a>
              </li>
              <li>
                <a class="nav-link" href="#zichan">资产负债表</a>
              </li>
              <li><a class="nav-link" href="#fuzhai">负债占资产比率</a></li>
              <li><a class="nav-link" href="#liudong">流动比率</a></li>
              <li>
                <a class="nav-link" href="#sudong">速动比率</a>
              </li>
              <li><a class="nav-link" href="#cunhuo">存活周转率</a></li>
              <li><a class="nav-link" href="#zongzi">总资产周转率</a></li>
              <li><a class="nav-link" href="#roa">ROA资产收益率</a></li>
              <li><a class="nav-link" href="#roe">ROE净资产收益率</a></li>
              <li>
                <a class="nav-link" href="#roic">ROIC资本回报率</a>
              </li>
              <li><a class="nav-link" href="#maoli">毛利率</a></li>
              <li>
                <a class="nav-link" href="#jingli">净利润率</a>
              </li>
              <li><a class="nav-link" href="#xianjin">现金流量比率</a></li>
              <li><a class="nav-link" href="#jinying">经营活动现金净流量占总现金流出的比率</a></li>
              <li><a class="nav-link" href="#xianjinliuliang">现金流量允当比率</a></li>
              <li><a class="nav-link" href="#xishui">息税前利润（EBIT）</a></li>
              <li><a class="nav-link" href="#ebitda">EBITDA</a></li>
              <li><a class="nav-link" href="#zhejiu">折旧摊销</a></li>
              <li><a class="nav-link" href="#shijing">市净率 P/B</a></li>
              <li><a class="nav-link" href="#shizhi">市值</a></li>
              <li><a class="nav-link" href="#guben">股本(股东权益)Equity</a></li>
              <li><a class="nav-link" href="#guxi">股息Dividend</a></li>
              <li><a class="nav-link" href="#huigou">回购（股票回购）Buyback</a></li>
            </ul>
          </nav>
    <main id='main-doc'>
        <h4 id='yingye'>营业收入</h4>
        <p>通过主要活动实现的收入通常称为营业收入。对于生产产品的公司，或参与该产品销售业务的批发商，分销商或零售商，主要活动的收入是指从产品销售中获得的收入。同样，对于从事提供服务业务的公司（或其加盟商）来说，主要活动收入是指通过交换提供这些服务而获得的收入或费用。</p>
        
        <h4 id='shouyi'>收益</h4>
        <p>收益也称为其他收入，表示其他活动（例如出售长期资产）的净收入。其中包括通过一次性非商业活动实现的净收入，例如出售旧运输车的公司，未使用的土地或子公司。</p>
        
        <h4 id='zichan'>资产负债表</h4>
        <p>资产负债表是反映企业在某一特定日期（如月末、季末、年末）全部资产、负债和所有者权益情况的会计报表，是企业经营活动的静态体现，根据“资产=负债+所有者权益”这一平衡公式，依照一定的分类标准和一定的次序，将某一特定日期的资产、负债、所有者权益的具体项目予以适当的排列编制而成。它表明企业在某一特定日期所拥有或控制的经济资源、所承担的现有义务和所有者对净资产的要求权。它是一张揭示企业在一定时点财务状况的静态报表。</p>
       
        <h4 id='fuzhai'>负债占资产比率</h4>
        <p>资产负债率这个指标反映债权人所提供的资本占全部资本的比例，也被称为举债经营比率。 资产负债率=总负债 /总资产。 表示公司总资产中有多少是通过负债筹集的，该指标是评价公司负债水平的综合指标。 同时也是一项衡量公司利用债权人资金进行经营活动能力的指标，也反映债权人发放贷款的安全程度。
            资产负债率=负债总额/资产总额×100%
            1、负债总额：指公司承担的各项负债的总和，包括流动负债和长期负债。
            2、资产总额：指公司拥有的各项资产的总和，包括流动资产和长期资产。
            </p>
       
        <h4 id='liudong'>流动比率（Current Ratio）</h4>
        <p>流动比率也称营运资金比率（Working Capital Ratio）或真实比率（Real Ratio），是指企业流动资产与流动负债的比率。</p>
        
        <h4 id='sudong'>速动比率</h4>
        <p>速动比率是指企业速动资产与流动负债的比率，速动资产是企业的流动资产减去存货和预付费用后的余额，主要包括现金、短期投资、应收票据、应收账款等项目。</p>
       
        <h4 id='cunhuo'>存货周转率</h4>
        <p>存货周转率是企业一定时期主营业务成本与平均存货余额的比率。用于反映存货的周转速度，即存货的流动性及存货资金占用量是否合理，促使企业在保证生产经营连续性的同时，提高资金的使用效率，增强企业的短期偿债能力。存货周转率是对流动资产周转率的补充说明，是衡量企业投入生产、存货管理水平、销售收回能力的综合性指标。一般来讲，存货周转速度越快，存货的占用水平越低，流动性越强，存货转换为现金、应收账款等的速度越快。        </p>
       
        <h4 id='zongzi'>总资产周转率</h4>
        <p>总资产周转率（次）=营业收入净额/平均资产总额
            总资产周转率是指企业在一定时期内销售(营业)收入同平均资产总额的比值。 总资产周转率是综合评价企业全部资产的经营质量和利用效率的重要指标。 周转率越大，说明总资产周转越快，反映出销售能力越强。 企业可以通过薄利多销的办法，加速资产的周转，带来利润绝对额的增加。
            平均资产总额=（资产总额年初数+资产总额年末数）/2
            </p>
       
        <h4 id='roa'>roa资产收益率</h4>
        <p>roa资产收益率，又称资产回报率，它是用来衡量每单位资产创造多少净利润的指标。计算公式为：资产收益率=净利润/平均资产总额*100%。资产收益率是业界应用最为广泛的衡量银行盈利能力的指标之一，该指标越高，表明企业资产利用效果越好。</p>
       
        <h4 id='roe'>roe净资产收益率</h4>
        <p>roe净资产收益率（Return on Equity，简称ROE），又称股东权益报酬率/净值报酬率/权益报酬率/权益利润率/净资产利润率，是净利润与平均股东权益的百分比，是公司税后利润除以净资产得到的百分比率，该指标反映股东权益的收益水平，用以衡量公司运用自有资本的效率。指标值越高，说明投资带来的收益越高。该指标体现了自有资本获得净收益的能力。  </p>
       
        <h4 id='roic'>roic资本回报率</h4>
        <p>roic资本回报率(Return on Invested Capital)是指投出和/或使用资金与相关回报（回报通常表现为获取的利息和/或分得利润）之比例。用于衡量投出资金的使用效果。        </p>
      
        <h4 id='maoli'>毛利率（Gross margin）</h4>
        <p>毛利率是公司的净销售收入减去其销售商品成本（COGS）的比率。换句话说，它是公司在产生与其生产的商品和提供的服务相关的直接成本后保留的销售收入。毛利率越高，公司每销售1美元所保留的资本就越多，然后公司就可以将其用于支付其他成本或偿还债务。净销售额数字就是总收入减去收益，津贴和折扣。</p>
       
        <h4 id='jingli'>净利润率</h4>
        <p>净利润率是指经营所得的净利润占销货净额的百分比，或占投入资本额的百分比。这种百分比能综合反映一个企业或一个行业的经营效率。在会计学上，利润可分为毛利润(销货额与已销货物成本之间的差额)、营业利润(毛利润与营业费用之间的差额)和净利润(营业利润与所得税之间的差额)。

            净利润率=净利润/营业收入×100%
            
            净利润率（Net margin）净利润率是反映公司盈利能力的一项重要指标，它是指扣除所有成本、费用和企业所得税后的利润率。
            </p>
       
            <h4>现金流量比率</h4>
        <p>运营现金流量比率（流动资金比率）是衡量公司可以利用其核心业务运营产生的现金流量偿还其流动负债的程度的一种度量。该财务指标显示了公司从其经营活动中每美元流动负债可赚取多少收入。由于收益涉及应计费用，并且可以由管理层操纵，因此，经营现金流量比率被认为是衡量公司短期流动性的非常有用的指标。 </p>
        
        <h4 id='jingying'>经营活动现金净流量占总现金流出的比率</h4>
        <p>经营活动现金净流量占总现金流出的比率。该比率用于衡量企业经营活动所产生的现金流量可以抵偿流动负债的程度。比率越高，说明企业的财务弹性越好。不同行业由于其经营性质的不同（服务型、生产型），经营活动产生的现金净流量的差别较大，因此行业性质不同的企业该比率的变化较大。</p>
       
        <h4 id='xianjin'>现金流量允当比率</h4>
        <p></p>
       
        <h4 id='xishui'>息税前利润（EBIT）</h4>
        <p>息税前利润（EBIT）是公司盈利能力的指标。息税前利润可以计算为收入减去费用（税金和利息除外）。 EBIT也称为营业收入，营业利润以及息税前利润。
            EBIT的公式和计算 ： 息税前利润=收入−销货成本−营业费用</p>
       
        <h4 id='EBITDA'>EBITDA</h4>
        <p>EBITDA代表利息，税项，折旧和摊销前收益，并且是一种评估公司运营绩效的指标。它可以看作是整个公司运营现金流的代理。
            EBITDA专注于企业的经营决策，因为它会在考虑资本结构，杠杆和折旧等非现金项目的影响之前，先评估企业从其核心业务中获得的利润。
            EBITDA公式
            这是计算EBITDA的公式：
            EBITDA =净收入+利息+税项+折旧+摊销
            或者
            EBITDA =营业利润+折旧+摊销
            </p>
        
        <h4 id='zhejiu'>折旧摊销</h4>
        <P>折旧和摊销（D＆A）取决于公司的历史投资，而不取决于公司当前的经营业绩。公司投资于由于磨损而失去价值的长期固定资产（例如建筑物或车辆）。折旧费用是根据公司有形固定资产中恶化的一部分计算的。如果资产为无形资产，则发生摊销费用。诸如专利之类的无形资产由于在到期前使​​用寿命有限（竞争性保护）而被摊销。
            D＆A在很大程度上取决于有关有用的经济寿命，残值和使用的折旧方法的假设。因此，分析师可能会发现营业收入与他们认为的数字应该有所不同，因此D＆A不在EBITDA计算范围之内。
            D＆A费用可以在公司的现金流量表中的“来自经营活动的现金”部分下找到。由于折旧和摊销是非现金费用，因此在现金流量表中将其折回（由于这个原因，费用通常为正数）。
            </P>
        
        <h4 id='shijing'>P/B市净率</h4>
        <p>市净率，是一种财务比率，用于将公司的当前市场价值与其账面价值进行比较。</p>

        <h4 id='shiying'>P/E市盈率</h4>
        <p>市盈率（Price Earnings Ratio，简称P/E或PER），也称“本益比”、“股价收益比率”或“市价盈利比率（简称市盈率）”。市盈率是指股票价格除以每股收益(每股收益,EPS)的比率。或以公司市值除以年度股东应占溢利。
            计算时，股价通常取最新收盘价</p>
        <p>市盈率是某种股票每股市价与每股盈利的比率。市场广泛谈及市盈率通常指的是静态市盈率，通常用来作为比较不同价格的股票是否被高估或者低估的指标。用市盈率衡量一家公司股票的质地时，并非总是准确的。一般认为，如果一家公司股票的市盈率过高，那么该股票的价格具有泡沫，价值被高估。当一家公司增长迅速以及未来的业绩增长非常看好时，利用市盈率比较不同股票的投资价值时，这些股票必须属于同一个行业，因为此时公司的每股收益比较接近，相互比较才有效。</p>    
        
        <h4 id='shixiao'>P/S市销率</h4>
        <p>市销率（Price-to-Sales Ratio，P/S或PSR），也译作股价营收比、市值营收比，是股票的一个估值指标。市销率是以公司市值除以上一财年（或季度）的营业收入，或等价地，以公司股价除以每股营业收入。也是投资银行业务中一个重要的参照数据。</p>
        <p>P/S 比率中用于销售的典型 12 个月期间通常是过去四个季度（也称为过去 12 个月或 TTM），或最近或当前财政年度 (FY)。基于本年度预测销售额的市盈率称为远期市盈率。</p>


        <h4 id='shizhi'>市值 Market Cap</h4>
        <p>市值是指由股票市场确定的公司价值。它定义为所有已发行股票的总市值。要计算公司的市值，请将流通在外的股票数量乘以一股的当前市值。</p>
       
        <h4 id='guben'>股本(股东权益)Equity</h4>
        <p>股本通常称为股东权益（或私有公司的所有者权益），表示如果清算了所有资产并偿还了公司的所有债务，则将返还给公司股东的金额。清算的情况。在收购的情况下，它是公司销售的价值减去未随销售转移的公司所欠的任何负债。
            此外，股东权益可以代表公司的账面价值。有时可以以实物支付形式提供股本。它还代表公司股份的按比例所有权。
            股本可以在公司的资产负债表上找到，是分析师用来评估公司财务状况的最常见数据之一。</p>
       
        <h4 id='guxi'>股息Dividend</h4>
        <p>股息是由公司董事会决定的将公司某些收益分配给其一类股东的股息。只要支付股息的公司的普通股股东在除息日之前拥有股票即可.股利可以以现金或其他股票的形式支付。</p>
        
        <h4 id='huigou'>回购（股票回购）Buyback</h4>
        <p>回购（也称为股票回购）是指公司购买自己的流通股以减少在公开市场上可用的股票数量。公司回购股票的原因有很多，例如通过减少供应量来增加剩余的可用股票价值或防止其他股东获得控股权。股票回购可以向投资者证明该企业有足够的现金储备紧急情况和经济麻烦的可能性很小。</p>
    
        <h4 id='zhangdieting'>涨跌停板制度</h4>
        <p>涨跌停板制度是为了防止股市的价格发生暴涨暴跌而影响市场的正常运行，股票市场的管理机构对每日股票买卖价格涨跌的上下限作出规定的行为。即每天市场价格达到了上限或下限时，不允许再有涨跌，术语称为“涨跌停板”。当天市价的最高上限叫 “涨停板”，最低下限叫 “跌停板”。</p>

        <h4 id='tingpai'>股票停牌</h4>
        <p>股票停牌是一个证券市场术语。股票停牌指的是股票由于某种消息或进行某种活动引起股价的连续上涨或下跌，由证券交易所暂停其在股票市场上进行交易。待情况澄清或企业恢复正常后，再复牌在交易所挂牌交易。对上市公司的股票进行停牌,是证券交易所为了维护广大投资者的利益和市场信息披露公平、公正以及对上市公司行为进行监管约束而采取的必要措施。</p>
        <p>一般来说,股票停牌有以下原因：
            一、上市公司有重要信息公布时，如公布年报、中期业绩报告，召开股东会，增资扩股，公布分配方案，重大收购兼并，投资以及股权变动等;
            二、证券监管机关认为上市公司须就有关对公司有重大影响的问题进行澄清和公告时;
            三、上市公司涉嫌违规需要进行调查时，至于停牌时间长短要视情况来确定。</p>
        
        <h4 id='chengjiaoliang'>股市成交量</h4>
        <p>股市成交量为股票买卖双方达成交易的数量，是单边的.成交量是判断市场走势的重要指标，成交量大且价格上涨的股票趋势向好</p>

        <h4 id='chengzhang'>成长股</h4>
        <p>一些公司所发行的股票，它们的销售额和利润额持续增长，而且其速度快于整个国家和本行业的增长。这些公司通常有宏图伟略，注重科研，留有大量利润作为再投资以促进其扩张。</p>

        <h4 id='jiyou'>绩优股</h4>
        <p>是指那些业绩优良，但增长速度较慢的公司的股票。这类公司有实力抵抗经济衰退，但这类公司并不能给你带来振奋人心的利润。因为这类公司业务较为成熟，不需要花很多钱来扩展业务，所以投资这类公司的目的主要在于拿股息。另外，投资这类股票时，市盈率不要太高，同时要注意股价在历史上经济不景气时波动的记录。</p>

        <h4 id='longtou'>龙头股</h4>
        <p>又名绩优股，龙头股指的是某一时期在股票市场的炒作中对同行业板块的其他股票具有影响和号召力的股票，它的涨跌往往对其他同行业板块股票的涨跌起引导和示范作用。
            龙头股并不是一成不变的，它的地位往往只能维持一段时间。成为龙头股的依据是，任何与某只股票有关的信息都会立即反映在股价上。</p>

        <h4 id='baima'>白马股</h4>
        <p>白马股，是指长期绩优、回报率高并具有较高投资价值的股票。因其有关的信息已经公开，业绩较为明朗，同时又兼有业绩优良、高成长、低风险的特点，因而具备较高的投资价值，往往为投资者所看好。
            市场表现大多为持久的慢牛攀升行情，有时也表现出较强的升势。 [1] 
            市场上较为通行的衡量白马股的指标主要采用每股收益、每股净资产值、净资产收益率、净利润增长率、主营业务收入增长率和市盈率。</p>


    </main>
    </div>
<!-- Page Content  -->    

    </div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
