<!DOCTYPE html>
<html>

<head>
    <title>
        隆基股份
    </title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">

            <%- include('sidebar.ejs') %>
            </nav>


        <!-- Page Content  -->
        <div id="content">
            <!-- Tab links -->
            <div class="tab">
                <a href="/"><button class="tablinks" >返回主页</button></a>
                <button class="tablinks" onclick="openCity(event, 'basicInfo')">公司信息</button>
                <button class="tablinks" onclick="openCity(event, 'charts')" id="defaultOpen">公司图表</button>
                <button class="tablinks" onclick="openCity(event, 'managements')">公司管理</button>
                <button class="tablinks" onclick="openCity(event, 'stockNews')">股票新闻</button>
                <button class="tablinks" onclick="openCity(event, 'links')">公司链接</button>
            </div>

            <!-- Tab content -->
            <div id="basicInfo" class="tabcontent">
                <h3></h3>
                <p>隆基股份 光伏龙头 俗称光伏茅，让我们看看为啥这么牛逼</p>
                <p>隆基股份公司长期专注于为全球客户提供高效单晶太阳能发电解决方案，主要从事单晶硅棒、硅片、电池和组件的研发、生产和销售，光伏电站的开发及系统解决方案的提供业务。 </p>
                <p>近年来，全球新能源可持续发展成为主要趋势，可再生能源成为驱动全球能源格局变化的主要力量。对于清洁能源的需求越来越高，光伏太阳能的占比也越来越高。随着光伏行业技术不断进步和度电成本的下降，光伏发电的成本优势和普遍推广使用的优势愈加显著，目前光伏发电已在全球很多国家和地区成为最具竞争力的电力能源。在海外市场需求快速增长的驱动下，光伏发电应用在全球范围内迅速拓展，海外市场增长明显。同时中国光伏行业发展规模持续领跑全球。
                </p>
                <p>作为国内光伏的龙头企业，隆基股份是全球最大的单晶硅片制造商。发展策略：快速成长，全球经营，占据行业优势地位；科技引领，效率驱动，构筑长期竞争能力。持续密切关注市场需求及产品趋势，不断聚焦提升客户价值和服务满意度，强化技术创新，全面提升全球化运营能力，产品策划与管理能力，加快单晶产品的产出，降本增效，实现产品技术，成本与市场“领跑”，巩固全球单晶龙头地位；扩大现有竞争优势，建立持久新优势，加强内外部风险的识别、防控和应对，赋能赋权激发组织活力。
                </p>
                <p>1、2020 年产能目标
                    截至2020年底，单晶硅片年产能达到75GW以上,单晶组件产能达到30GW以上。

                    2、2020 年业务目标
                    2020年度单晶硅片出货量目标58GW（含自用），组件出货量目标20GW（含自用）。
                    3、2020 年收入目标
                    2020 年计划实现营业收入 496 亿元。
                </p>

            </div>

            <div id="charts" class="tabcontent">
                <nav id="navbar">
                    <ul>
                        <li><a class="nav-link" href="#profit">净利润  <u>(净利润计算公式)</u></a></li>
                        <li><a class="nav-link" href="#revenue">营收</a></li>
                        <li><a class="nav-link" href="#profitWithoutEx">净利润 vs. 扣非净利润</a></li>
                        <li><a class="nav-link" href="#gross">营收 vs. 毛利 vs. 营业利润</a></li>
                        <li><a class="nav-link" href="#operating_expense">营业费用分解</a></li>
                        <li><a class="nav-link" href="#FCF">自由现金流</a></li>
                        <li><a class="nav-link" href="#cash_flow">现金流分解</a></li>
                        <li><a class="nav-link" href="#balance_detailed">资产负债表分解</a></li>
                    </ul>
                </nav>

                <div><canvas id="region" width="800" height="700"></canvas></div>
                <div><canvas id="product" width="800" height="700"></canvas></div>
                <div><canvas id="profit" width="800" height="700"></canvas></div>
                <div><canvas id="revenue" width="800" height="700"></canvas></div>
                <div><canvas id="profitWithoutEx" width="800" height="700"></canvas></div>
                <div><canvas id="gross" width="800" height="700"></canvas></div>
                <div><canvas id="operating_expense" width="800" height="700"></canvas></div>
                <div><canvas id="FCF" width="800" height="700"></canvas></div>
                <div><canvas id="cash_flow" width="800" height="700"></canvas></div>
                <div><canvas id="balance_detailed" width="800" height="700"></canvas></div>
                



            </div>

            <div id="managements" class="tabcontent">
                <h3>总裁：不认识</h3>
            </div>

            <div id="stockNews" class="tabcontent">
                <h3>买到就是赚到？？？</h3>
            </div>

            <div id="links" class="tabcontent">
                <h3><u><a href='https://www.longigroup.com'>隆基</a></u></h3>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script> <!--import chart.js-->
        <script src="/js/alasql.min.js"></script>       <!--import alasql.js-->
        <script src="/js/xlsx.core.min.js"></script>    <!--import xlsx.core.js-->	
        <script src="/js/popper.js"></script>            <!--import popper.js-->
        <script src="/js/jquery.min.js"></script>       <!--import jQuery-->
        <script src="/js/bootstrap.min.js"></script>     <!--import bootstrap.js-->
        <script src="/js/longji.js"></script>           <!--import maotai.js-->
        <script src="/js/yyz.js"></script>           <!--import maotai.js-->
    

</body>

<script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>

<script>
    var ctx = document.getElementById('region');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['2016-12-31', '2017-12-31', '2018-12-31',
                '2019-12-31', '2020-12-31'],
            datasets: [
                {
                    label: "中国境内",
                    backgroundColor: 'rgba(0, 102, 255, 1)',
                    borderColor: 'rgba(0, 102, 255,1)',
                    data: [91.1, 121.8, 148.0, 202.7, 331.2]
                },
                {
                    label: "亚太地区",
                    backgroundColor: 'rgba(75, 192, 192, 1)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    data: [18.5, 29.3, 42.1, 32.7, 75.2]
                },
                {
                    label: "美洲地区",
                    backgroundColor: 'rgba(255, 206, 86, 1)',
                    borderColor: 'rgba(255, 206, 86, 1)',
                    data: [5.6, 9.5, 19.3, 45.6, 88.4]
                },
                {
                    label: "欧洲地区",
                    backgroundColor: 'rgba(255, 51, 0, 1)',
                    borderColor: 'rgba(255, 51, 0, 1)',
                    data: [0.077, 3.1, 10.5, 47.8, 49.9]
                },
                {
                    label: "非洲地区",
                    backgroundColor: 'rgba(146,36, 0, 1)',
                    borderColor: 'rgba(146,36, 0, 1)',
                    data: [0, 0.00049, 0.024, 0.27, 1.09]
                }

            ]
        },
        options: {
            title: {
                display: true,
                text: '年营业收入（按地区划分）（亿元）'
            },
            responsive: false,
            scales: {
                xAxes: [{
                    stacked: true
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    stacked: true
                }]
            }
        }
    });
</script>

<script>

    var ctx = document.getElementById('product');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['2016-12-31', '2017-12-31', '2018-12-31',
                '2019-12-31', '2020-12-31'],
            datasets: [
                {
                    label: "太阳能组件及电池",
                    backgroundColor: 'rgba(0, 102, 255, 1)',
                    borderColor: 'rgba(0, 102, 255,1)',
                    data: [54.3, 95.6, 136.1, 150.7, 362.4]
                },
                {
                    label: "硅片及硅棒",
                    backgroundColor: 'rgba(75, 192, 192, 1)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    data: [50.7, 58.8, 64.4, 94.1, 155.1]
                },
                
                {
                    label: "电站建设及服务",
                    backgroundColor: 'rgba(255, 51, 0, 1)',
                    borderColor: 'rgba(255, 51, 0, 1)',
                    data: [0, 0, 6.81, 20.8,13.3]
                },
                {
                    label: "电力",
                    backgroundColor: 'rgba(146,36, 0, 1)',
                    borderColor: 'rgba(146,36, 0, 1)',
                    data: [0.590, 4.47, 7.97, 7.73,6.9]
                }
            ]
        },
        options: {
            title: {
                display: true,
                text: '年营业收入（按不同产品划分）（亿元）'
            },
            responsive: false,
            scales: {
                xAxes: [{
                    stacked: true
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    stacked: true
                }]
            }
        }
    });
</script>


</html>