<!DOCTYPE html>
<html>

<head>
    <title>
        迈瑞医疗
    </title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">

            <%- include('sidebar.ejs') %>
            </nav>


        <!-- Page Content  -->

        <!--term explanation-->
        <div id='profitDescription' class="moving-div">profit = revenue - Expense</div>

        <div id="content">
            <!-- Tab links -->
            <div class="tab">
                <a href="/"><button class="tablinks" >返回主页</button></a>
                <button class="tablinks" onclick="openCity(event, 'basicInfo')">公司信息</button>
                <button class="tablinks" onclick="openCity(event, 'charts')" id="defaultOpen">公司图表</button>
                <button class="tablinks" onclick="openCity(event, 'managements')">公司管理</button>
                <button class="tablinks" onclick="openCity(event, 'stockNews')">股票新闻</button>
                <button class="tablinks" onclick="openCity(event, 'links')">公司链接</button>
            </div>

            <!-- Tab content -->
            <div id="basicInfo" class="tabcontent">
                <h3>迈瑞医疗</h3>
                <p>公司主要从事医疗器械的研发、制造、营销及服务，始终以客户需求为导向，致力于为全球医疗机构 提供优质产品和服务。公司融合创新，紧贴临床需求，支持医疗机构提供优质的医疗服务，从而帮助世界 各地改善医疗条件、降低医疗成本。历经多年的发展，公司已经成为中国最大、全球领先的医疗器械以及 解决方案供应商。公司总部设在中国深圳，在北美、欧洲、亚洲、非洲、拉美等地区的超过30个国家设有 39家境外子公司；在国内设有20家子公司，超过40家分支机构；已建立起基于全球资源配置的研发创新平 台，设有九大研发中心，分布在深圳、武汉、南京、北京、西安、成都、美国硅谷、美国新泽西和美国西 雅图，形成了庞大的全球化研发、营销及服务网络。 
                </p>
                <h6>公司主要产品</h6>
                <p>公司主要产品覆盖三大领域：生命信息与支持、体外诊断以及医学影像，拥有国内同行业中最全的产 品线，以安全、高效、易用的“一站式”整体解决方案满足临床需求。</p>
                <p>在生命信息与支持领域，公司产品包括监护仪、除颤仪、麻醉机、呼吸机、心电图机、手术床、手术 灯、吊塔吊桥、输注泵、以及手术室/重症监护室（OR/ICU）整体解决方案等一系列用于生命信息监测与 支持的仪器和解决方案的组合，以及包括外科腔镜摄像系统、冷光源、气腹机、光学内窥镜、微创手术器 械及手术耗材等产品在内的微创外科系列产品。
                    在体外诊断领域，公司为实验室、诊所和医院提供一系列全自动及半自动的体外诊断产品，主要包括 血液细胞分析仪、生化分析仪、化学发光免疫分析仪、凝血分析仪、尿液分析仪、微生物诊断系统等及相 关试剂，通过人体的样本（如血液、体液、组织等）的检测而获取临床诊断信息。针对2020年突然爆发的 新冠疫情，公司推出了灵敏度高特异性好的新冠 IgG/IgM 抗体检测试剂产品。
                   </p>
                <p>在医学影像领域，公司产品包括超声诊断系统、数字X射线成像系统和 PACS。在超声诊断系统领域， 为医院、诊所、影像中心等提供从高端覆盖到低端的全系列超声诊断系统，以及逐步细分应用于放射、妇 产、介入、急诊、麻醉、重症、肝纤等不同临床专业的专用解决方案。在数字X射线成像领域，公司为放 射科、ICU、急诊科提供包括移动式、双立柱式和悬吊式在内的多种数字化成像解决方案。
                </p>
                <h6>未来发展</h6>
                <p>面向未来的后疫情时代，公司将增加对体外诊断领域的自动化、智能化流水线、以及微生物子业务和生命信息与支持领域的呼吸机子业务、院内和跨院区监护及互联互通等方面的研发投入，重点培育微创外 科、兽用、AED等细分赛道。同时，积极探索超高端彩超、分子诊断、骨科等种子业务，并采用内外部研 发相结合的方式，加快在这些领域的研发节奏。公司将继续丰富“瑞智联” IT 解决方案，构建设备全息 数据库，与医院已有的临床数据库互补并有机结合，助力大数据科研；继续开发“瑞影云++”影像云平台 的应用场景，助力提升医共体/医联体整体诊疗水平。 
                    目前，公司产品及解决方案已应用于全球190多个国家和地区。在国内市场，公司产品覆盖中国近11 万家医疗机构和99%以上的三甲医院，包括全国知名的北京协和医院、上海市公共卫生临床中心、上海瑞 金医院等。在国际市场，作为全球领先医疗机构的长期伙伴，如梅奥诊所、约翰·霍普金斯医院、麻省总医 院、克利夫兰医学中心的长期合作伙伴，公司已赢得美国、英国、德国、法国、意大利、西班牙等国家医 疗机构的广泛认可。 
                    </p>
                <h6>2020年概况</h6>
                <p>2020年，随着新冠疫情在全球范围的爆发，生命信息与支持业务的监护仪、呼吸机、输注泵和医学影 像业务的便携彩超、移动DR的需求量大幅增长，其中对生命信息与支持业务的拉动作用尤为显著。从2020 年第二季度开始，公司开始向海外市场出口新冠 IgG/IgM 抗体检测试剂，弥补了疫情对体外诊断业务造 成的部分影响，同时得益于国内常规试剂消耗逐步恢复，体外诊断业务在报告期内实现了加速恢复。经过 此轮疫情的考验，公司在国内和国际市场的品牌影响力和认知度得到了极大的提升，实现了众多高端市场的客户群突破，给公司未来的增长带来了更多的机会。同时公司持续加强内部管理，改善经营效率，并且 受到疫情期内营销推广和差旅减少的影响，经营业绩呈现健康良好的增长态势。
                </p>
                <p>报告期内，公司实现营业收入 2,102,584.64 万元，较上年同期增长 27.00%；利润总额 743,844.03 万 元，较上年同期增长 38.56%；实现归属于上市公司股东的净利润 665,767.61 万元，较上年同期增长 42.24%。 
                </p>
            </div>

            <div id="charts" class="tabcontent">
                <nav id="navbar">
                    <ul>
                        <li><a class="nav-link" href="#profit">净利润</a></li>
                        <li><a class="nav-link" href="#revenue">营收</a></li>
                        <li><a class="nav-link" href="#profitWithoutEx">净利润 vs. 扣非净利润</a></li>
                        <li><a class="nav-link" href="#gross">营收 vs. 毛利 vs. 营业利润</a></li>
                        <li><a class="nav-link" href="#operating_expense">营业费用分解</a></li>
                        <li><a class="nav-link" href="#FCF">自由现金流</a></li>
                        <li><a class="nav-link" href="#cash_flow">现金流分解</a></li>
                        <li><a class="nav-link" href="#balance_detailed">资产负债表分解</a></li>

                    </ul>
                </nav>
                <div>                        
                    <div class="explanation" id='profitHover'><u><a href="">净利润如何计算？</a></u></div>
                    <canvas id="profit" width="800" height="700"></canvas>
                </div>
                <div>
                    <canvas id="revenue" width="800" height="700"></canvas>
                </div>
                <div><canvas id="profitWithoutEx" width="800" height="700"></canvas></div>
                <div><canvas id="gross" width="800" height="700"></canvas></div>
                <div><canvas id="operating_expense" width="800" height="700"></canvas></div>
                <div><canvas id="FCF" width="800" height="700"></canvas></div>
                <div><canvas id="cash_flow" width="800" height="700"></canvas></div>
                <div><canvas id="balance_detailed" width="800" height="700"></canvas></div>



            </div>

            <div id="managements" class="tabcontent">
                <h3>迈瑞医疗？</h3>
            </div>

            <div id="stockNews" class="tabcontent">
                <h3>买到就是赚到别买了吧</h3>
            </div>

            <div id="links" class="tabcontent">
                <h3><u><a href='https://m.evebattery.com/'>迈瑞医疗</a></u></h3>
            </div>
        </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script> <!--import chart.js-->
    <script src="/js/alasql.min.js"></script>       <!--import alasql.js-->
	<script src="/js/xlsx.core.min.js"></script>    <!--import xlsx.core.js-->	
    <script src="/js/popper.js"></script>            <!--import popper.js-->
    <script src="/js/jquery.min.js"></script>       <!--import jQuery-->
    <script src="/js/bootstrap.min.js"></script>     <!--import bootstrap.js-->
    <script src="/js/mairui.js"></script>           <!--import maotai.js-->
    <script src="/js/yyz.js"></script>           <!--import maotai.js-->


</body>



</html>