<!DOCTYPE html>
<html>

<head>
    <title>
        贵州茅台
    </title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">

            <%- include('sidebar.ejs') %>
            </nav>


        <!-- Page Content  -->

        <!--term explanation-->
        <div id='profitDescription' class="moving-div">profit = revenue - Expense</div>

        <div id="content">
            <!-- Tab links -->
            <div class="tab">
                <a href="/"><button class="tablinks" >返回主页</button></a>
                <button class="tablinks" onclick="openCity(event, 'basicInfo')">公司信息</button>
                <button class="tablinks" onclick="openCity(event, 'charts')" id="defaultOpen">公司图表</button>
                <button class="tablinks" onclick="openCity(event, 'managements')">公司管理</button>
                <button class="tablinks" onclick="openCity(event, 'stockNews')">股票新闻</button>
                <button class="tablinks" onclick="openCity(event, 'links')">公司链接</button>
            </div>

            <!-- Tab content -->
            <div id="basicInfo" class="tabcontent">
                <h3>贵州茅台酒股份有限公司</h3>
                <p>贵州茅台在A股市值第一，让我们看看为啥这么牛逼</p>
                <p>公司主营贵州茅台酒系列产品的生产和销售，同时进行饮料、食品、包装材料的生产和销售，防伪技术开发，信息产业相关产品的研制开发。贵州茅台酒股份有限公司茅台酒年生产量已突破一万吨；43°、38°、33°茅台酒拓展了茅台酒家族低度酒的发展空间；茅台王子酒、茅台迎宾酒满足了中低档消费者的需求；15年、30年、50年、80年陈年茅台酒填补了我国极品酒、年份酒、陈年老窖的空白；在国内独创年代梯级式的产品开发模式。形成了低度、高中低档、极品三大系列70多个规格品种，全方位跻身市场，从而占据了白酒市场制高点，称雄于中国极品酒市场。</p>
                <p>贵州茅台酒股份有限公司（上交所：600519，简称：贵州茅台），1999年，贵州茅台酒股份有限公司由中国贵州茅台酒厂有限责任公司、贵州茅台酒厂技术开发公司、贵州省轻纺集体工业联社、深圳清华大学研究院、中国食品发酵工业研究所、北京糖业烟酒公司、江苏省糖烟酒总公司、上海捷强烟草糖酒（集团）有限公司等八家公司共同发起
                    公司主营贵州茅台酒及系列产品的生产和销售，同时进行饮料、食品、包装材料的生产和销售，防伪技术开发，信息产业相关产品的研制开发。
                    </p>
                    <h5>主要业务</h5>
                    <p>公司主要业务是茅台酒及系列酒的生产与销售。主导产品“贵州茅台酒”是世界三大蒸馏名 酒之一，也是集国家地理标志产品、有机食品和国家非物质文化遗产于一身的白酒品牌。 
                        公司经营模式为：采购原料—生产产品—销售产品。原料采购根据公司生产和销售计划进行；产品生产工艺流程为：制曲—制酒—贮存—勾兑—包装；销售模式为：公司产品通过直销和 批发代理渠道进行销售。直销渠道指自营渠道，批发代理渠道指社会经销商、商超、电商等渠道。 
                        </p>
                <h4>2020报告期内主要经营情况</h4>
                <p>2020报告期内主要经营情况 一是主要指标稳定增长。1.收入利润保持增长。公司实现营业总收入 979.93 亿元，同比增 长 10.29%；其中酒类收入 948.22 亿元，同比增长 11.10%；实现归属于母公司所有者的净利润 466.97 亿元，同比增长 13.33%。2.毛利率保持增长。酒类销售毛利率 91.48%，同比增长 0.11 个百分点；其中茅台酒销售毛利率 93.99%，同比增加 0.21 个百分点。3.产质量稳中有升。生产 基酒 7.52 万吨，同比增长 0.15%；其中生产茅台酒基酒 5.02 万吨，同比增长 0.63%。产品出厂 合格率 100%。 二是全力筑牢抗疫防线。认真贯彻落实党中央、国务院和省委、省政府关于统筹做好疫情防 控和经济社会发展工作会议精神，坚持疫情防控和生产经营“两手抓、两不误”，建立联防联控 机制，筑牢疫情坚固防线，实现全公司“零疑似、零确诊”，确保了员工生命安全和身体健康； 在行业内率先复工复产复市，把损失和影响降到最低，稳定了高质量发展大局，交出了抗击疫情 的优异答卷。 三是深化改革成效显著。研究形成机构改革方案，完成了和义兴分公司等机构改革，职能体 系更加完善，服务更加高效。持续深化营销体制改革，积极丰富和拓展营销渠道，规范社会渠道 管理，形成多渠道协同发展的良好格局，提升了综合效益；多措并举推动控价稳市，增强了市场 抗风险能力，保障了疫情形势下的市场稳定态势。 四是项目建设持续推进。“十三五”茅台酒技改项目全面完成投产，新增茅台酒基酒设计产 能 4,032 吨；3 万吨酱香系列酒技改项目有序推进，新增系列酒基酒设计产能 4,015 吨；完成固 定资产投资 21.72 亿元。 </p>
                <h4>行业格局和趋势 </h4>
                <p>1.格局和趋势。2020 年，白酒行业虽受新冠疫情影响，但白酒行业具有强大的抗压性、生命力和恢复力，白酒产业结构持续优化、市场活力有序释放、科创动能有效转化、产品品质稳步提升，发展质量和韧性显著增强。一是产销稳中微降。随着供给侧结构性改革深化，规模以上白酒企业产销量略有下降；二是效益进中向好。在转型升级背景下，行业提质增效成果显著，高质量发展基础牢固；三是格局不断优化，市场份额逐渐向头部企业集中。</p>
                <p>2.公司竞争优势。一是竞争力突出。公司拥有著名的品牌、卓越的品质、悠久的文化、厚重的历史积淀、独特的环境、特殊的工艺等优势所组成的核心竞争力，是公司高质量发展的坚实基础；二是市场基础牢固。公司市场消费人群稳定、渠道资源丰富，市场布局完善，销售体系成熟；三是系统化发展能力强劲。公司拥有规模化的产品生产和配套能力，实力雄厚的管理、技术、营销团队以及精通制酒、制曲、勾兑、品评的工匠队伍。</p>
                <h4>公司发展战略</h4>
                <p>“十四五”规划期间，公司将立足新发展阶段、贯彻新发展理念、融入新发展格局，坚持稳中求进工作总基调，以高质量发展统揽全局，以聚主业、调结构、强配套、构生态为发展思路,筑牢“质量、安全、环保”三条生命线，推进品质茅台、绿色茅台、活力茅台、文化茅台和阳光茅台建设，巩固茅台酒世界蒸馏酒第一品牌地位，推动茅台高质量发展、大踏步前进。 </p>
            </div>

            <div id="charts" class="tabcontent">
                <nav id="navbar">
                    <ul>
                        <li><a class="nav-link" href="#profit">净利润  <u>(净利润计算公式)</u></a></li>
                        <li><a class="nav-link" href="#revenue">营收</a></li>
                        <li><a class="nav-link" href="#profitWithoutEx">净利润 vs. 扣非净利润</a></li>
                        <li><a class="nav-link" href="#gross">营收 vs. 毛利 vs. 营业利润</a></li>
                        <li><a class="nav-link" href="#operating_expense">营业费用分解</a></li>
                        <li><a class="nav-link" href="#FCF">自由现金流</a></li>
                        <li><a class="nav-link" href="#cash_flow">现金流分解</a></li>
                        <li><a class="nav-link" href="#balance_detailed">资产负债表分解</a></li>
                    </ul>
                </nav>
                <div>                        
                    <canvas id="profit" width="800" height="700"></canvas>
                </div>
                <div>
                    <canvas id="revenue" width="800" height="700"></canvas>
                </div>
                <div><canvas id="profitWithoutEx" width="800" height="700"></canvas></div>
                <div><canvas id="gross" width="800" height="700"></canvas></div>
                <div><canvas id="operating_expense" width="800" height="700"></canvas></div>
                <div><canvas id="FCF" width="800" height="700"></canvas></div>
                <div><canvas id="cash_flow" width="800" height="700"></canvas></div>
                <div><canvas id="balance_detailed" width="800" height="700"></canvas></div>



            </div>

            <div id="managements" class="tabcontent">
                <h3>总裁：茅大台</h3>
            </div>

            <div id="stockNews" class="tabcontent">
                <h3>买到就是赚到</h3>
            </div>

            <div id="links" class="tabcontent">
                <h3><u><a href='https://www.maotaichina.com'>茅台</a></u></h3>
            </div>
        </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script> <!--import chart.js-->
    <script src="/js/alasql.min.js"></script>       <!--import alasql.js-->
	<script src="/js/xlsx.core.min.js"></script>    <!--import xlsx.core.js-->	
    <script src="/js/popper.js"></script>            <!--import popper.js-->
    <script src="/js/jquery.min.js"></script>       <!--import jQuery-->
    <script src="/js/bootstrap.min.js"></script>     <!--import bootstrap.js-->
    <script src="/js/maotai.js"></script>           <!--import maotai.js-->
    <script src="/js/yyz.js"></script>           <!--import maotai.js-->


</body>



</html>