<!DOCTYPE html>
<html>

<head>
    <title>
        贵州茅台
    </title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">

            <%- include('sidebar.ejs') %>
            </nav>


        <!-- Page Content  -->

        <!--term explanation-->
        <div id='profitDescription' class="moving-div">profit = revenue - Expense</div>

        <div id="content">
            <!-- Tab links -->
            <div class="tab">
                <a href="/"><button class="tablinks" >返回主页</button></a>
                <button class="tablinks" onclick="openCity(event, 'basicInfo')">公司信息</button>
                <button class="tablinks" onclick="openCity(event, 'charts')" id="defaultOpen">公司图表</button>
                <button class="tablinks" onclick="openCity(event, 'managements')">公司管理</button>
                <button class="tablinks" onclick="openCity(event, 'stockNews')">股票新闻</button>
                <button class="tablinks" onclick="openCity(event, 'links')">公司链接</button>
            </div>

            <!-- Tab content -->
            <div id="basicInfo" class="tabcontent">
                <h3></h3>
                <p>贵州茅台在A股市值第一，让我们看看为啥这么牛逼</p>
                <p>公司主营贵州茅台酒系列产品的生产和销售，同时进行饮料、食品、包装材料的生产和销售，防伪技术开发，信息产业相关产品的研制开发。贵州茅台酒股份有限公司茅台酒年生产量已突破一万吨；43°、38°、33°茅台酒拓展了茅台酒家族低度酒的发展空间；茅台王子酒、茅台迎宾酒满足了中低档消费者的需求；15年、30年、50年、80年陈年茅台酒填补了我国极品酒、年份酒、陈年老窖的空白；在国内独创年代梯级式的产品开发模式。形成了低度、高中低档、极品三大系列70多个规格品种，全方位跻身市场，从而占据了白酒市场制高点，称雄于中国极品酒市场。</p>
            </div>

            <div id="charts" class="tabcontent">
                <nav id="navbar">
                    <ul>
                        <li><a class="nav-link" href="#profit">净利润  <u>(净利润计算公式)</u></a></li>
                        <li><a class="nav-link" href="#revenue">营收</a></li>
                        <li><a class="nav-link" href="#profitWithoutEx">净利润 vs. 扣非净利润</a></li>
                        <li><a class="nav-link" href="#gross">营收 vs. 毛利 vs. 营业利润</a></li>
                        <li><a class="nav-link" href="#operating_expense">营业费用分解</a></li>
                        <li><a class="nav-link" href="#FCF">自由现金流</a></li>
                        <li><a class="nav-link" href="#cash_flow">现金流分解</a></li>
                        <li><a class="nav-link" href="#balance_detailed">资产负债表分解</a></li>
                    </ul>
                </nav>
                <div>                        
                    <canvas id="profit" width="800" height="700"></canvas>
                </div>
                <div>
                    <canvas id="revenue" width="800" height="700"></canvas>
                </div>
                <div><canvas id="profitWithoutEx" width="800" height="700"></canvas></div>
                <div><canvas id="gross" width="800" height="700"></canvas></div>
                <div><canvas id="operating_expense" width="800" height="700"></canvas></div>
                <div><canvas id="FCF" width="800" height="700"></canvas></div>
                <div><canvas id="cash_flow" width="800" height="700"></canvas></div>
                <div><canvas id="balance_detailed" width="800" height="700"></canvas></div>



            </div>

            <div id="managements" class="tabcontent">
                <h3>总裁：茅大台</h3>
            </div>

            <div id="stockNews" class="tabcontent">
                <h3>买到就是赚到</h3>
            </div>

            <div id="links" class="tabcontent">
                <h3><u><a href='https://www.maotaichina.com'>茅台</a></u></h3>
            </div>
        </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script> <!--import chart.js-->
    <script src="/js/alasql.min.js"></script>       <!--import alasql.js-->
	<script src="/js/xlsx.core.min.js"></script>    <!--import xlsx.core.js-->	
    <script src="/js/popper.js"></script>            <!--import popper.js-->
    <script src="/js/jquery.min.js"></script>       <!--import jQuery-->
    <script src="/js/bootstrap.min.js"></script>     <!--import bootstrap.js-->
    <script src="/js/maotai.js"></script>           <!--import maotai.js-->
    <script src="/js/yyz.js"></script>           <!--import maotai.js-->


</body>



</html>