<!DOCTYPE html>
<html>

<head>
    <title>
        中国平安
    </title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            
            <%- include('sidebar.ejs') %>
            </nav>
        

        <!-- Page Content  -->

        <!--term explanation-->
        <div id='profitDescription' class="moving-div">profit = revenue - Expense</div>

        <div id="content">
            <!-- Tab links -->
            <div class="tab">
                <a href="../index.html"><button class="tablinks" >返回主页</button></a>
                <button class="tablinks" onclick="openCity(event, 'basicInfo')">公司信息</button>
                <button class="tablinks" onclick="openCity(event, 'charts')" id="defaultOpen">公司图表</button>
                <button class="tablinks" onclick="openCity(event, 'managements')">公司管理</button>
                <button class="tablinks" onclick="openCity(event, 'stockNews')">股票新闻</button>
                <button class="tablinks" onclick="openCity(event, 'links')">公司链接</button>
            </div>

            <!-- Tab content -->
            <div id="basicInfo" class="tabcontent">
                <h3></h3>
                <p>中国平安是中国最大的保险公司</p>
            </div>

            <div id="charts" class="tabcontent">
                <nav id="navbar">
                    <ul>
                        <li><a class="nav-link" href="#profit">净利润</a></li>
                        <li><a class="nav-link" href="#revenue">营收</a></li>
                        <li><a class="nav-link" href="#profitWithoutEx">净利润 vs. 扣非净利润</a></li>
                        <li><a class="nav-link" href="#gross">营收 vs. 毛利 vs. 营业利润</a></li>
                        <li><a class="nav-link" href="#FCF">自由现金流</a></li>
                        <li><a class="nav-link" href="#cash_flow">现金流分解</a></li>
                    </ul>
                </nav>
                <div>                        
                    <div class="" id='profitHover'><u><a href="">净利润如何计算？</a></u></div>
                    <canvas id="profit" width="800" height="700"></canvas>
                </div>
                <div>
                    <canvas id="revenue" width="800" height="700"></canvas>
                </div>
                <div><canvas id="profitWithoutEx" width="800" height="700"></canvas></div>
                <div><canvas id="gross" width="800" height="700"></canvas></div>
                <div><canvas id="FCF" width="800" height="700"></canvas></div>
                <div><canvas id="cash_flow" width="800" height="700"></canvas></div>



            </div>

            <div id="managements" class="tabcontent">
                <h3>总裁：小平</h3>
            </div>

            <div id="stockNews" class="tabcontent">
                <h3>买到就是赚到</h3>
            </div>

            <div id="links" class="tabcontent">
                <h3><u><a href='https://www.maotaichina.com'>平安</a></u></h3>
            </div>
        </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script> <!--import chart.js-->
    <script src="/js/alasql.min.js"></script>       <!--import alasql.js-->
	<script src="/js/xlsx.core.min.js"></script>    <!--import xlsx.core.js-->	
    <script src="/js/popper.js"></script>            <!--import popper.js-->
    <script src="/js/jquery.min.js"></script>       <!--import jQuery-->
    <script src="/js/bootstrap.min.js"></script>     <!--import bootstrap.js-->
    <script src="/js/main.js"></script>             <!--import main.js-->
    <script src="/js/pingan.js"></script>           <!--import maotai.js-->
    <script src="/js/yyz.js"></script>           <!--import maotai.js-->


</body>



</html>