<!DOCTYPE html>
<html>

<head>

    <title>
        隐私信息及条款
    </title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">

				<%- include('sidebar.ejs') %>
				</nav>
        
<!-- Page Content  -->    
    <div id="content" class="p-4 p-md-5 pt-5">
        <h2>Terms & Disclaimer</h2>
        <p>牛逼股票网是为金融理财知识教育目的而构建的。我们无法保证牛逼股票网上任何数据的准确性。不要依赖本网站来获取财务信息或股票新闻或判断一只股票的未来发展。请务必认真做自己应做的调查，请您自行承担投资风险。 牛逼股票网上的任何内容均不建议买卖证券、股票或其他任何理财产品。本网站全部信息并非财务建议或理财建议。我们不是经纪人或其他财务平台。对于任何股票的涨跌，我们概不负责。 股票有风险，投资需谨慎。</p>
        <h2>Privacy Policy</h2>
        <p>牛逼股票网会收集用户的电子邮件地址以进行验证和识别，此信息不会与任何第三方共享。任何隐私信息将严格保密。</p>
        
    </div>
<!-- Page Content  -->    

    </div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>

</body>

</html>
