<!DOCTYPE html>
<html>

<head>
    <title>
        兆易创新
    </title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">

            <%- include('sidebar.ejs') %>
            </nav>


        <!-- Page Content  -->

        <!--term explanation-->
        <div id='profitDescription' class="moving-div">profit = revenue - Expense</div>

        <div id="content">
            <!-- Tab links -->
            <div class="tab">
                <a href="/"><button class="tablinks" >返回主页</button></a>
                <button class="tablinks" onclick="openCity(event, 'basicInfo')">公司信息</button>
                <button class="tablinks" onclick="openCity(event, 'charts')" id="defaultOpen">公司图表</button>
                <button class="tablinks" onclick="openCity(event, 'managements')">公司管理</button>
                <button class="tablinks" onclick="openCity(event, 'stockNews')">股票新闻</button>
                <button class="tablinks" onclick="openCity(event, 'links')">公司链接</button>
            </div>

            <!-- Tab content -->
            <div id="basicInfo" class="tabcontent">
                <h3>兆易创新</h3>
                <p>兆易创新成立于2005，是一家领先的无晶圆厂半导体公司，致力于开发先进的存储器技术和IC解决方案。2016年8月，公司在上海证券交易所成功上市。公司在中国北京、上海、深圳、合肥、西安、成都、苏州、香港和台湾，美国、韩国、日本、英国、新加坡等多个国家和地区均设有分支机构和办事处，营销网络遍布全球，为客户提供优质便捷的本地化支持服务。

                    公司核心管理团队由来自世界各地的高级管理人员组成，具有丰富的研发及管理经验，技术研发核心成员来自清华、北大、复旦、中科院等国内微电子领域顶尖院所，硕士及以上学历占比超过60%。同时，我们也积极引进具有国际视野的专业人才，跟踪最新技术发展方向，提升公司技术产品的领先性。
                    
                    公司的核心产品线为FLASH、32位通用型 MCU及智能人机交互传感器芯片及整体解决方案，公司产品以“高性能、低功耗”著称，为工业、汽车、计算、消费类电子、物联网、移动应用以及网络和电信行业的客户提供全方位服务。在中国市场，我们的SPI NOR FLASH®市场占有率为第一，同时也是全球排名前三的供应商之一，累计出货量超130亿颗，年出货量超28亿颗；我们的MCU作为中国32位通用MCU领域的主流产品，以24个系列350余款产品选择，覆盖率稳居市场前列，并且累计出货量已超过4亿颗。我们的触控和指纹识别芯片广泛应用在国内外知名移动终端厂商，是国内仅有的两家的可量产供货的光学指纹芯片供应商。
                    </p>
                <p>公司在质量管理方面有严格的标准与要求，已获得ISO 9001、ISO 14001等国际质量体系认证，同时积极推进产业整合，拓展战略布局，在已有的微控制器、存储器基础上，布局物联网领域人机交互技术，并与全球多家领先晶圆厂、封装测试厂达成战略合作伙伴关系，通过加强产业上下游合作、优化供应链管理，共同推进半导体领域的技术创新。</p>
                <p> </p> 
            </div>

            <div id="charts" class="tabcontent">
                <nav id="navbar">
                    <ul>
                        <li><a class="nav-link" href="#profit">净利润</a></li>
                        <li><a class="nav-link" href="#revenue">营收</a></li>
                        <li><a class="nav-link" href="#profitWithoutEx">净利润 vs. 扣非净利润</a></li>
                        <li><a class="nav-link" href="#gross">营收 vs. 毛利 vs. 营业利润</a></li>
                        <li><a class="nav-link" href="#operating_expense">营业费用分解</a></li>
                        <li><a class="nav-link" href="#FCF">自由现金流</a></li>
                        <li><a class="nav-link" href="#cash_flow">现金流分解</a></li>
                        <li><a class="nav-link" href="#balance_detailed">资产负债表分解</a></li>

                    </ul>
                </nav>
                <div>                        
                    <div class="explanation" id='profitHover'><u><a href="">净利润如何计算？</a></u></div>
                    <canvas id="profit" width="800" height="700"></canvas>
                </div>
                <div>
                    <canvas id="revenue" width="800" height="700"></canvas>
                </div>
                <div><canvas id="profitWithoutEx" width="800" height="700"></canvas></div>
                <div><canvas id="gross" width="800" height="700"></canvas></div>
                <div><canvas id="operating_expense" width="800" height="700"></canvas></div>
                <div><canvas id="FCF" width="800" height="700"></canvas></div>
                <div><canvas id="cash_flow" width="800" height="700"></canvas></div>
                <div><canvas id="balance_detailed" width="800" height="700"></canvas></div>



            </div>

            <div id="managements" class="tabcontent">
                <h3></h3>
            </div>

            <div id="stockNews" class="tabcontent">
                <h3>买到就是赚到别买了吧</h3>
            </div>

            <div id="links" class="tabcontent">
                <h3><u><a href='https://www.gigadevice.com/zh-hans/'>兆易创新</a></u></h3>
            </div>
        </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script> <!--import chart.js-->
    <script src="/js/alasql.min.js"></script>       <!--import alasql.js-->
	<script src="/js/xlsx.core.min.js"></script>    <!--import xlsx.core.js-->	
    <script src="/js/popper.js"></script>            <!--import popper.js-->
    <script src="/js/jquery.min.js"></script>       <!--import jQuery-->
    <script src="/js/bootstrap.min.js"></script>     <!--import bootstrap.js-->
    <script src="/js/tianci.js"></script>           <!--import maotai.js-->
    <script src="/js/yyz.js"></script>           <!--import maotai.js-->


</body>



</html>