<!DOCTYPE html>
<html>

<head>
    <title>
        紫光国微
    </title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">

            <%- include('sidebar.ejs') %>
            </nav>


        <!-- Page Content  -->

        <!--term explanation-->
        <div id='profitDescription' class="moving-div">profit = revenue - Expense</div>

        <div id="content">
            <!-- Tab links -->
            <div class="tab">
                <a href="/"><button class="tablinks" >返回主页</button></a>
                <button class="tablinks" onclick="openCity(event, 'basicInfo')">公司信息</button>
                <button class="tablinks" onclick="openCity(event, 'charts')" id="defaultOpen">公司图表</button>
                <button class="tablinks" onclick="openCity(event, 'managements')">公司管理</button>
                <button class="tablinks" onclick="openCity(event, 'stockNews')">股票新闻</button>
                <button class="tablinks" onclick="openCity(event, 'links')">公司链接</button>
            </div>

            <!-- Tab content -->
            <div id="basicInfo" class="tabcontent">
                <h3>公司简介</h3>
                <p>紫光国芯微电子股份有限公司（简称“紫光国微”，SZ002049）是紫光集团有限公司旗下核心企业，是国内最大的集成电路设计上市公司之一。公司以智慧芯片为核心，聚焦数字安全、智能计算、功率与电源管理、高可靠集成电路等业务，是领先的芯片产品和解决方案提供商，产品广泛应用于金融、电信、政务、汽车、工业互联、物联网等领域。

                    公司以“用芯成就客户、共创智慧世界”为使命，以“智慧芯片领导者”为愿景，坚持“技术领先、全球发展、高效运营” 三条路径，深耕“智慧网联、智慧工业、智慧金融、智慧城市、智慧生活、智慧交通”六大垂直领域，致力于构建智慧产业生态圈，赋能百行百业，共创智慧世界。</p>

                    <h5>产品</h5>
                    <p>5G超级SIM卡是由紫光国微推出的一款同时支持通信功能和大容量存储功能的新型SIM卡，可以全面兼容5G/4G/3G/2G网络，让大容量+大流量能够一卡兼得。同时，产品具备超大容量、安全存储、一键换机等强大功能，开创了私人数据中心，为用户定义了安心自由的数字化新生活。</p>
                    <p>公司接触式CPU卡芯片采用增强8位CPU内核/32位CPU内核，具有从16KB EEPROM 到1MB以上大容量FLASH的数据存储空间。该芯片含DES、3DES算法，也可以支持国密安全算法，广泛用于移动通信SIM卡应用及社会保障卡应用。</p>
                    <p>公司功率半导体器件产品主要包括500V~900V超结功率MOSFET、600V~700V Multi EPI超结功率MOSFET、20V~150V沟槽式功率MOSFET（N沟道和P沟道）、60V~100V双沟槽功率MOSFET、40V~1000V PLANAR VDMOS以及IGBT、IGTO、高压半桥Driver IC等。产品广泛应用于逆变器、交直流驱动、开关电源、充电器、LED照明、硬开关和高频电路等市场。</p>
                    
            </div>

            <div id="charts" class="tabcontent">
                <nav id="navbar">
                    <ul>
                        <li><a class="nav-link" href="#profit">净利润</a></li>
                        <li><a class="nav-link" href="#revenue">营收</a></li>
                        <li><a class="nav-link" href="#profitWithoutEx">净利润 vs. 扣非净利润</a></li>
                        <li><a class="nav-link" href="#gross">营收 vs. 毛利 vs. 营业利润</a></li>
                        <li><a class="nav-link" href="#operating_expense">营业费用分解</a></li>
                        <li><a class="nav-link" href="#FCF">自由现金流</a></li>
                        <li><a class="nav-link" href="#cash_flow">现金流分解</a></li>
                        <li><a class="nav-link" href="#balance_detailed">资产负债表分解</a></li>

                    </ul>
                </nav>
                <div><canvas id="region" width="800" height="700"></canvas></div>
                <div><canvas id="product" width="800" height="700"></canvas></div>
                <div>                        
                    <div class="explanation" id='profitHover'><u><a href="">净利润如何计算？</a></u></div>
                    <canvas id="profit" width="800" height="700"></canvas>
                </div>
                <div>
                    <canvas id="revenue" width="800" height="700"></canvas>
                </div>
                <div><canvas id="profitWithoutEx" width="800" height="700"></canvas></div>
                <div><canvas id="gross" width="800" height="700"></canvas></div>
                <div><canvas id="operating_expense" width="800" height="700"></canvas></div>
                <div><canvas id="FCF" width="800" height="700"></canvas></div>
                <div><canvas id="cash_flow" width="800" height="700"></canvas></div>
                <div><canvas id="balance_detailed" width="800" height="700"></canvas></div>



            </div>

            <div id="managements" class="tabcontent">
                <h3>紫光国微！</h3>
            </div>

            <div id="stockNews" class="tabcontent">
                <h3>买到就是赚到别买了吧</h3>
            </div>

            <div id="links" class="tabcontent">
                <h3><u><a href='https://www.gosinoic.com/'>紫光国微</a></u></h3>
            </div>
        </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script> <!--import chart.js-->
    <script src="/js/alasql.min.js"></script>       <!--import alasql.js-->
	<script src="/js/xlsx.core.min.js"></script>    <!--import xlsx.core.js-->	
    <script src="/js/popper.js"></script>            <!--import popper.js-->
    <script src="/js/jquery.min.js"></script>       <!--import jQuery-->
    <script src="/js/bootstrap.min.js"></script>     <!--import bootstrap.js-->
    <script src="/js/ziguang.js"></script>           <!--import maotai.js-->
    <script src="/js/yyz.js"></script>           <!--import maotai.js-->


</body>


<script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>

<script>
    var ctx = document.getElementById('region');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['2016-12-31', '2017-12-31', '2018-12-31',
                '2019-12-31', '2020-12-31'],
            datasets: [
                {
                    label: "中国境内",
                    backgroundColor: 'rgba(0, 102, 255, 1)',
                    borderColor: 'rgba(0, 102, 255,1)',
                    data: [11.20, 13.94, 18.45, 27.85, 30.76]
                },
                
                {
                    label: "境外",
                    backgroundColor: 'rgba(146,36, 0, 1)',
                    borderColor: 'rgba(146,36, 0, 1)',
                    data: [2.98, 4.34, 6.13, 6.45, 1.94]
                }

            ]
        },
        options: {
            title: {
                display: true,
                text: '年营业收入（按地区划分）（亿元）'
            },
            responsive: false,
            scales: {
                xAxes: [{
                    stacked: true
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    stacked: true
                }]
            }
        }
    });
</script>

<script>

    var ctx = document.getElementById('product');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['2016-12-31', '2017-12-31', '2018-12-31',
                '2019-12-31', '2020-12-31'],
            datasets: [
                {
                    label: "智能安全芯片",
                    backgroundColor: 'rgba(0, 102, 255, 1)',
                    borderColor: 'rgba(0, 102, 255,1)',
                    data: [5.685, 8.133,10.36, 13.21, 13.63]
                },
                {
                    label: "特种集成电路",
                    backgroundColor: 'rgba(75, 192, 192, 1)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    data: [5.13,5.16,6.16,10.79,16.73]
                },
                
                {
                    label: "存储器芯片",
                    backgroundColor: 'rgba(255, 51, 0, 1)',
                    borderColor: 'rgba(255, 51, 0, 1)',
                    data: [1.94, 3.35, 6.45, 8.43, 0.11]
                },
                {
                    label: "晶体元器件",
                    backgroundColor: 'rgba(146,36, 0, 1)',
                    borderColor: 'rgba(146,36, 0, 1)',
                    data: [1.41, 1.61, 1.57, 1.68, 1.97]
                }
            ]
        },
        options: {
            title: {
                display: true,
                text: '年营业收入（按不同产品划分）（亿元）'
            },
            responsive: false,
            scales: {
                xAxes: [{
                    stacked: true
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    stacked: true
                }]
            }
        }
    });
</script>


</html>